.newButton {
    min-height: 2rem;
    min-width: 1rem;
    border: 2px dashed #85b0decc;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.newButton:hover {
    cursor: pointer;
    background: rgba(0, 123, 255, 0.1);
    border: 2px dashed #007bff;
}

.icon {
    font-size: 24px;
    color: #007bff;
}